form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.WrapperForm {
  width: 500px;
  padding: 0 10px;
  margin: 0 5px 10px 0;
  background-color: #e8e6b9;
  max-height: 420px;
}
