ul {
  list-style-type: none;
  margin: 30px 0;
  font: 130 12px/1.5 Helvetica, Verdana, sans-serif;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  margin-left: 30px;
}

.WrapperList {
  width: 500px;
  padding: 0 10px;
  margin: 0 5px 10px 0;
  background-color: #e8e6b9;
}

.parentLi {
  cursor: pointer;
}

.red {
  color: red;
  cursor: default;
}

.green {
  color: green;
  cursor: default;
}

.myFolder {
  margin-right: 10px;
}

.childUl {
  cursor: default;
  margin-top: 0;
}
